.selection-app-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pane-container{
  width: 95%;
  display: flex;
  flex-flow: row;
  justify-content: space-around; 
}

.all-images-pane, .best-images-pane{
  width: 46%;
  height: 63%;
}

.all-images-pane, .best-images-pane, .similar-images-pane{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  border: 1px solid black; 
}

.pane-button-separator{
  display: flex;
  flex-flow: column; 
}

.add-button, .remove-button, .replace-button{
  font-size: 50px;
  margin: 5px;
  background-color: lightgray;
}

.selector-pane-container{
  width: 100%;
  height: 33%;
  margin-top: 10px;
  position: relative;
}

.replace-button-container{
  position: absolute;
  bottom: 3%;
  right: 4%;
  width: 170px;
  z-index: 1;
}

.similarity-toggle{
  position: absolute;
  bottom: 3%;
  left: 4%;
  width: 170px;
  z-index: 1;
}

.similar-images-pane{
  position: absolute;
  width: 94%;
  height: 97%;
  margin-left: 3%;
}

.thumb{
  margin: 5px;
  height: 150px;
  width: 150px;
}

.image-gallery-active img{
  border: 5px solid lightblue;
  margin: 0;
}

.image-gallery-selected img{

  opacity: 0.4;
  background-color: black;
}